/* You can add global styles to this file, and also import other style files */


body {
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    // max-height: -webkit-fill-available;
    overflow: hidden;
    display: flex;
    flex: 1 1 100;
}

// .scroll-gutter-hidden::-webkit-scrollbar {
//     display: none;
//     width: 0px;
// }

// .scroll-gutter-hidden {
//     scrollbar-gutter: none;
// }

body {
    -ms-overflow-style: none; /* IE and Edge */
    // scrollbar-width: none; /* Firefox */
    // -webkit-font-smoothing: antialiased;
}

.placeholderInheritColor::placeholder {
    color: inherit !important;
    opacity: 0.5 !important;
}

.checkboxInheritColor {
    .mdc-form-field {
        // color: inherit !important;
        border-color: inherit !important;
        .mdc-checkbox {
            // color: inherit !important;
            border-color: inherit !important;
            .mdc-checkbox__background {
                // color: inherit !important;
                border-color: inherit !important;
            }
        }
    }
}

.paginatorInheritColor {
    .mat-mdc-paginator-outer-container {
        color: inherit !important;
        border-color: inherit !important;
        .mat-mdc-paginator-container {
            .mat-mdc-paginator-page-size {
                color: inherit !important;
                border-color: inherit !important;
                .mat-mdc-form-field {
                    color: inherit !important;
                    border-color: inherit !important;
                    .mat-mdc-text-field-wrapper {
                        color: inherit !important;
                        border-color: inherit !important;
                        .mat-mdc-form-field-flex {
                            color: inherit !important;
                            border-color: inherit !important;
                            .mdc-notched-outline {
                                color: inherit !important;
                                border-color: inherit !important;
                                .mdc-notched-outline__leading {
                                    color: inherit !important;
                                    border-color: inherit !important;
                                }
                                .mdc-notched-outline__notch {
                                    color: inherit !important;
                                    border-color: inherit !important;
                                }
                                .mdc-notched-outline__trailing {
                                    color: inherit !important;
                                    border-color: inherit !important;
                                }
                            }
                            .mat-mdc-form-field-infix {
                                color: inherit !important;
                                .mat-mdc-select {
                                    color: inherit !important;
                                    .mat-mdc-select-trigger {
                                        color: inherit !important;
                                        .mat-mdc-select-value {
                                            color: inherit !important;
                                        }
                                        .mat-mdc-select-arrow-wrapper {
                                            color: inherit !important;
                                            .mat-mdc-select-arrow {
                                                color: inherit !important;
                                                opacity: 0.5 !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.no-mat-hover .mat-button-focus-overlay {
    visibility: hidden !important;
}

.maxPageWidth {
    width: 100%;
    max-width: 1200px;
}

.noHintFormField .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.noOutlineFormField .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mdc-notched-outline {
    display: none;
}

.flexFormField .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
    min-height: unset !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    max-width: unset !important;
}

.noPaddingFormField .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
    min-height: unset !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    max-width: unset !important;
}

.mat-tooltip-trigger {
    touch-action: auto !important;
}

.no-background-autocomplete {
    background-color: transparent !important;
    box-shadow: unset !important;
}

.noPaddingChip > span > span {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
}

.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-0) { z-index: 1200 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-1) { z-index: 1201 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-2) { z-index: 1202 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-3) { z-index: 1203 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-4) { z-index: 1204 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-5) { z-index: 1205 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-6) { z-index: 1206 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-7) { z-index: 1207 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-8) { z-index: 1208 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-9) { z-index: 1209 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-10) { z-index: 1110 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-11) { z-index: 1111 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-12) { z-index: 1112 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-13) { z-index: 1113 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-14) { z-index: 1114 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-15) { z-index: 1115 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-16) { z-index: 1116 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-17) { z-index: 1117 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-18) { z-index: 1118 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-19) { z-index: 1119 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-20) { z-index: 1120 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-21) { z-index: 1121 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-22) { z-index: 1122 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-23) { z-index: 1123 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-24) { z-index: 1124 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-25) { z-index: 1125 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-26) { z-index: 1126 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-27) { z-index: 1127 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-28) { z-index: 1128 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-29) { z-index: 1129 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-30) { z-index: 1130 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-31) { z-index: 1131 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-32) { z-index: 1132 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-33) { z-index: 1133 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-34) { z-index: 1134 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-35) { z-index: 1135 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-36) { z-index: 1136 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-37) { z-index: 1137 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-38) { z-index: 1138 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-39) { z-index: 1139 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-40) { z-index: 1140 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-41) { z-index: 1141 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-42) { z-index: 1142 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-43) { z-index: 1143 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-44) { z-index: 1144 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-45) { z-index: 1145 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-46) { z-index: 1146 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-47) { z-index: 1147 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-48) { z-index: 1148 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-49) { z-index: 1149 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-50) { z-index: 1150 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-51) { z-index: 1151 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-52) { z-index: 1152 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-53) { z-index: 1153 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-54) { z-index: 1154 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-55) { z-index: 1155 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-56) { z-index: 1156 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-57) { z-index: 1157 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-58) { z-index: 1158 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-59) { z-index: 1159 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-60) { z-index: 1160 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-61) { z-index: 1161 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-62) { z-index: 1162 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-63) { z-index: 1163 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-64) { z-index: 1164 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-65) { z-index: 1165 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-66) { z-index: 1166 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-67) { z-index: 1167 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-68) { z-index: 1168 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-69) { z-index: 1169 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-70) { z-index: 1170 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-71) { z-index: 1171 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-72) { z-index: 1172 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-73) { z-index: 1173 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-74) { z-index: 1174 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-75) { z-index: 1175 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-76) { z-index: 1176 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-77) { z-index: 1177 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-78) { z-index: 1178 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-79) { z-index: 1179 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-80) { z-index: 1180 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-81) { z-index: 1181 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-82) { z-index: 1182 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-83) { z-index: 1183 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-84) { z-index: 1184 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-85) { z-index: 1185 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-86) { z-index: 1186 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-87) { z-index: 1187 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-88) { z-index: 1188 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-89) { z-index: 1189 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-90) { z-index: 1190 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-91) { z-index: 1191 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-92) { z-index: 1192 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-93) { z-index: 1193 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-94) { z-index: 1194 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-95) { z-index: 1195 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-96) { z-index: 1196 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-97) { z-index: 1197 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-98) { z-index: 1198 }
.cdk-overlay-connected-position-bounding-box:has(.cdk-overlay-pane .zwp-window-overlay-zindex-99) { z-index: 1199 }